/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #010000;
}
/* Header Styles */
header {
  background-color: #709f7b;
  color: #ffffff;
  padding: 1em;
}

/* Navigation Styles */
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* Main Content */
main {
  padding: 2em;
}

/* Section Styles */
section {
  margin-bottom: 2em;
}

/* Heading Colors */
h1, h2 {
  color: #88c195;
}

/* Footer Styles */
footer {
  background-color: #709f7b;
  color: #ffffff;
  text-align: center;
  padding: 1em;
}

/* Form Styles */
form label, form input, form textarea {
  display: block;
  margin-bottom: 1em;
}